/Clases/ConceptosBasicos/nbproject/private/
diagramaBD.img

/Tareas/ProyectoLibro/nbproject/private/
/Tareas/ProyectoLibro/build/
/Clases/ConceptosBasicos/build/
/Clases/ReutilizaciónCódigo2209/nbproject/private/
/Clases/ReutilizaciónCódigo2209/build/
